<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhy.network" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application>

        <meta-data android:name="WEB_API_PUBLIC_KEY" android:value="${WEB_API_PUBLIC_KEY}"/>
        <meta-data android:name="WEB_API_URL" android:value="${WEB_API_URL}"/>
        <meta-data android:name="WEB_LOG_API_URL" android:value="${WEB_LOG_API_URL}"/>
    </application>
</manifest>
